<div class="container">
	<div class="row-fluid">

			<%= render "side_nav" %>

		<div class="span10">
<h3>Member Directory</h3>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Company</th>
	<th>Job</th>
    <th>School</th>
    <th>Pledged</th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.first_name %> <%= user.last_name %></td>
    <td><%= user.company %></td>
	<td><%= user.job_title %></td>
    <td><%= user.school %> c/o <%= user.grad_year %></td>
    <td><%= user.pledge_semester %> <%= user.pledge_year %></td>
    <td><%= link_to 'Contact', root_path %></td>
  </tr>
<% end %>
</table>
</div>
</div>
</div>