<div class="container">
	<div class="row-fluid">
		
		<%= render "side_nav" %>

		<div class="span10">
			<h3>Job Board</h3>
			
			<table class="table">
			  <tr>
			    <th>Position</th>
			    <th>Company</th>
					<th>Industry</th>
					<th>Location</th>
			    <th></th>
			  </tr>

			<% @jobs.reverse.each do |job| %>
			  <tr>
			    <td><%= link_to "#{job.position}", job_path(job) %></td>
			    <td><%= link_to "#{job.company}", job_path(job) %></td>
					<td><%= link_to "#{job.industry}", job_path(job) %></td>
					<td><%= link_to "#{job.location}", job_path(job) %></td>
			    <td><%= link_to 'More Info', job_path(job) %></td>
			  </tr>
			<% end %>
			</table>

		</div>
	</div>
</div>