<div class="container">
	<div class="row-fluid">

		<div class="span12">
			<h3>Job Board</h3>
			
			<% if current_user.stripe == nil %>
		
			Please pay your yearly membership dues of $25 to gain access to this page. <p>
				<%= form_tag charges_path do %>
			  <script src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
			          data-key=pk_live_GuSoOIPw3vPkBLpS9EbfOuQN
			          data-description="1 Year Membership"
			          data-plan="dues"></script>
			<% end %>
		
			<% else %>
			
			<table class="table blue">
			  <tr>
			    <th>Position</th>
			    <th>Company</th>
					<th>Industry</th>
					<th>Location</th>
			    <th></th>
			  </tr>

			<% @jobs.reverse.each do |job| %>
			  <tr>
			    <td><%= link_to "#{job.position}", job_path(job) %></td>
			    <td><%= link_to "#{job.company}", job_path(job) %></td>
					<td><%= link_to "#{job.industry}", job_path(job) %></td>
					<td><%= link_to "#{job.location}", job_path(job) %></td>
			    <td class="gold"><%= link_to 'More Info', job_path(job) %></td>
			  </tr>
			<% end %>
			</table>
			
			<% end %>

		</div>
	</div>
</div>