<div class="container">
	
	<h3>Post New Position</h3>
	<P>
		
		<% if current_user.stripe == nil %>
		
		Please pay your yearly membership dues of $25 to gain access to this page. <p>
			<%= form_tag charges_path do %>
		  <script src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
		          data-key='pk_test_1kKGlAn0QjyrU1CBG8vsVp3u'
		          data-description="1 Year Membership"
		          data-plan="dues"></script>
		<% end %>
		
		<% else %>
	
	<%= form_for(@job) do |f| %>
	<div><%= f.text_field :position , :placeholder => "Title of position" %></div>
	<div><%= f.text_field :company, :placeholder => "Company" %></div>
	<div><%= f.text_field :website, :placeholder => "Website" %></div>
	<div><%= f.select :industry, ['Industry', 'Accounting', 'Banking/Mortgage', 'Entrepreneurship','Financial Services', 'Human Resources/HR', 'Investment Banking/Venture', 'Investment Management/Hedge Fund/Private Equity','Management Consulting', 'Market Research', 'Marketing/Advertising', 'Public Relations/PR', 'Sales', 'Venture Capital/VC', 'Other' ] %></div>
	<div><%= f.text_field :location, :placeholder => "City, State" %></div>
	<div><%= f.text_area :description, :placeholder => "Please describe the position and requirements you're looking for in potential candidates" %></div>
	
	<%= f.hidden_field :contact_name, :value => @name %>
	<%= f.hidden_field :contact_position, :value => @position %>
	<%= f.hidden_field :contact_company, :value => @company %>
	<%= f.hidden_field :contact_email, :value => @email %>
	
	<div><%= f.submit "Post Position" %></div>
	
	<% end %>
	<p><p>
	<b>Note:</b> All positions are automatically removed after 2 months from the post date.
	
	<% end %>
	
</div>