<div class="container">
	<div class="row-fluid">
		
		<%= render "side_nav" %>

		<div class="span10">
			<legend>Position Details</legend>
			<table>
				<tr>
					<td><b>Position:</b></td>
					<td><%= @job.position %></td>
				</tr>
				<tr>
					<td><b>Company:</b></td>
					<td><%= @job.company %></td>
				</tr>
				<tr>
					<td><b>Industry:</b></td>
					<td><%= @job.industry %></td>
				</tr>
				<tr>
					<td><b>Location:</b></td>
					<td><%= @job.location %></td>
				</tr>
				<tr>
					<td><b>Description:</b></td>
					<td><%= @job.description %></td>
				</tr>
				<tr>
					<td><b>Posted on:</b></td>
					<td><%= @job.created_at.strftime("%D") %></td>
				</tr>
			</table>
			
			<p><p>
				
			<legend>Contact Info</legend>
			
			<%= @job.contact_name %><p>
			<%= @job.contact_position %><p>
			<%= @job.contact_company %><p>
			<%= mail_to @job.contact_email, "Email" %>
			
		</div>
	</div>
</div>