<div class="container">
	<div class="row-fluid">

		<div class="span12">
			<legend>Position Details</legend>
			
			<% if current_user.stripe == nil %>
		
			Please pay your membership dues to gain access to this page. <p>
				<%= form_tag charges_path do %>
			  <script src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
			          data-key='pk_test_1kKGlAn0QjyrU1CBG8vsVp3u'
			          data-description="1 Year Membership"
			          data-plan="dues"></script>
			<% end %>
		
			<% else %>
			
			<table>
				<tr>
					<td><b>Position:</b></td>
					<td style="padding-left: 15px;"><%= @job.position %></td>
				</tr>
				<tr>
					<td><b>Company:</b></td>
					<td style="padding-left: 15px;"><%= @job.company %></td>
				</tr>
				<tr>
					<td><b>Industry:</b></td>
					<td style="padding-left: 15px;"><%= @job.industry %></td>
				</tr>
				<tr>
					<td><b>Location:</b></td>
					<td style="padding-left: 15px;"><%= @job.location %></td>
				</tr>
				<tr>
					<td valign="top"><b>Description:</b></td>
					<td style="padding-left: 15px;"><%= @job.description %></td>
				</tr>
				<tr>
					<td><b>Posted on:</b></td>
					<td style="padding-left: 15px;"><%= @job.created_at.strftime("%D") %></td>
				</tr>
			</table>
			
			<p><p>
				
			<legend>Contact Info</legend>
			
			<%= @job.contact_name %><p>
			<%= @job.contact_position %><p>
			<%= @job.contact_company %><p>
			<%= mail_to @job.contact_email, "Email" %>
			
			<% end %>
			
		</div>
	</div>
</div>