<div class="container">
	<div class="row-fluid">
		
		<div class="span8" style="border: 2px solid; border-color:#fff; border-radius:25px; height:300px; background-color:#fff;">
			<h4>About Us</h4>
			<p>
				Triangle AKPsi is the Alumni Chapter of Alpha Kappa Psi Professional Business Fraternity. We serve RTP and surrounding areas in North Carolina. The chapter was established in 2011 and have been growing ever since. Our mission is to give our alumni an opportunity to stay active with the Fraternity after graduation. We strive to offer the same benefits and opportunities to our members that Brothers enjoyed as a student including:
				<ul>
					<li>Professional Development</li>
					<li>Networking and Social Activities</li>
					<li>Volunteer Opportunities</li>
					<li>Continued involvement with local student chapters</li>
				</ul>
				We welcome all new members and would love to see you at our next event!
				<p></P><center>
					<a href="http://www.twitter.com/triangleakpsi", target="_blank">Twitter</a> | <a href="http://www.facebook.com/triangleakpsi", target="_blank">Facebook</a> | <a href="http://www.linkedin.com/groups/Triangle-AKPsi-4001716?gid=4001716&mostPopular=&trk=tyah", target="_blank">LinkedIn</a>
				</center>
		</div>
	
		<div class="span4" style="border-radius:25px; height:300px; background-color:#fff;">

			<center><h4>Upcoming Events</h4></center>

			<%= raw(event_calendar) %>
		</div>
	
	</div>

	<div class="row-fluid" style="height:20px">
	</div>
	
	<div class="row-fluid">
		<div class="span4" style="border: 2px solid; border-color:#999; border-radius:25px; height:300px;">
			<center><h4>Happy Birthday <%=Date.today.strftime("%B") %> Babies!</h4></center>
			<ul>
				<li><%= @birthdays %></li>
			</ul>
		</div>
		<div class="span4" style="border: 2px solid; border-color:#999; border-radius:25px; height:300px;">
			<center><h4>Job Board</h4></center>
			<ul><% @jobs.each do |job| %>
				<li><%= job.position + " in " + job.location  rescue "n/a" %> <%= link_to "More Info", job_path(job) %></li>
				<% end %></ul>
				<p>
					<%= link_to "Post Position"%>
		</div>
		
		<div class="span4" style="border: 2px solid; border-radius:25px; height:300px;">
			<center><h4>Welcome New Members:</h4></center>
			<ul><% @new_members.each do |user| %>
			<li><%= user.first_name+" "+user.last_name+" "+user.school+" "+user.pledge_semester+" "+user.pledge_year.to_s %></li>
			<%end%></ul>
		</div>
		
	</div>
</div>