<div class="container">
	<div class="row-fluid">

		<div class="span12">
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @event.name %>
</p>

<p>
  <b>Host:</b>
  <%= @event.host %>
</p>

<p>
  <b>Location:</b>
  <%= @event.location %>
</p>

<p>
  <b>website:</b>
  <%= link_to @event.location, "http://#{@event.location}", :target => "_blank" %>
</p>

<p>
  <b>Date:</b>
  <%= @event.start_at.strftime("%A %b %d, %Y") %>
</p>

<p>
  <b>Time</b>
  <%= @event.start_at.strftime("%l:%M") %> - <%= @event.end_at.strftime("%l:%M %p") %>
</p>

<p>
	<b>Description:</b>
	<%= @event.description %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
</div>
</div>
</div>
