<!DOCTYPE html>
<html>
<head>
  <title>Triangle AKPsi Demo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="assets/css/bootstrap-responsive.css" rel="stylesheet"> -->
</head>
<body>
	<div class="container">
	<div class="page-header">
		<div class="container">
		   <% if alert %>
		   		<p class="notice"><%= notice %></p>
		        <p class="alert"><%= alert %></p>	 
			<%end%>
		<h1>Triangle AKPsi <small>Serving RTP and surrounding areas</small></h1>
		</div>
	</div>
	
	<!-- <div class="navbar">
		<div class="navbar-inner pull-left">
			<ul class="nav">
				<li class="active"><a href="#">Home</a></li>
				<li><a href="#">About</a></li>
				<li><a href="http://localhost:3000/join/">Join</a></li>
				<li><a href="#">Login</a></li>
			</ul>
			</div> -->
		<% if user_signed_in? %>
			<div class="pull-right">
				<%= link_to "Members", members_path %> |
				<%= link_to "Events", events_path %> | 
				<%= link_to "Job Board", jobs_path %> | 
				<%= link_to "Log out", destroy_user_session_path, {:method => "DELETE"} %>
			</div>
		<%else%>
			<div class="pull-right">
				<%= link_to "Login", new_user_session_path %> | 
				<%= link_to "Join", new_user_registration_path %>
			</div>
		<%end%>
	<!-- </div> -->
</div>


<%= yield %>

</body>
<div class="footer">
	<div class="container">
	
		<div class="row-fluid" style="height:20px">
		</div>

		<p style="float: left;">Copyright &copy; 2011-<%= Date.today.strftime("%Y") %> Triangle AKPsi<p>
			<p style="float: right;">Site built by <a href="http://www.diemmipham.com/", target="_blank">Diemmi Pham</a>
	
		<div class="row-fluid" style="height:20px">
		</div>

	</div>
</div>
</html>
