<div class="container">
	<div class="row-fluid">

		<div class="span12">
			<h3>Members Directory</h3>
			
			<table class="table">
			  <tr>
			    <th>Name</th>
			    <th>Company</th>
				<th>Job</th>
			    <th>School</th>
			    <th>Pledge</th>
			    <th></th>
			  </tr>

			<% @members.each do |member| %>
			  <tr>
			    <td><%= link_to "#{member.first_name} #{member.last_name}", member_path(member) %></td>
			    <td><%= member.company %></td>
				<td><%= member.job_title %></td>
			    <td><%= member.school %> c/o <%= member.grad_year %></td>
			    <td><%= member.pledge_semester %> <%= member.pledge_year %></td>
			    <td><%= link_to 'Contact', member_path(member) %></td>
			  </tr>
			<% end %>
			</table>
			
		</div>
	</div>
</div>