<div class="container">
	<div class="row-fluid">

		<div class="span12">
			<h3>Members Directory</h3>
			
			<% if current_user.stripe == nil %>
			
			Please pay your membership dues to gain access to this page. <p>
				<%= form_tag charges_path do %>
			  <script src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
			          data-key='pk_test_1kKGlAn0QjyrU1CBG8vsVp3u'
			          data-description="1 Year Membership"
			          data-plan="dues"></script>
			<% end %>
			
			<% else %>
			
			<table class="table blue">
			  <tr>
			    <th>Name</th>
			    <th>Company</th>
				<th>Job</th>
			    <th>School</th>
			    <th>Pledge</th>
			    <th></th>
			  </tr>

			<% @members.each do |member| %>
			  <tr>
			    <td><%= link_to "#{member.first_name} #{member.last_name}", member_path(member) %></td>
			    <td><%= member.company %></td>
				<td><%= member.job_title %></td>
			    <td><%= member.school %> c/o <%= member.grad_year %></td>
			    <td><%= member.pledge_semester %> <%= member.pledge_year %></td>
			    <td class="gold"><%= link_to 'Contact', member_path(member) %></td>
			  </tr>
			<% end %>
			</table>
			
			<% end %>
			
		</div>
	</div>
</div>