<div class="container">
	<div class="row-fluid">
			
		<div class="span12">
			
			<h3><%= @member.first_name+" "+@member.last_name %></h3>
			
			<% if current_user.stripe == nil %>
			
			Please pay your yearly membership dues of $25 to gain access to this page. <p>
				<%= form_tag charges_path do %>
			  <script src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
			          data-key='pk_test_1kKGlAn0QjyrU1CBG8vsVp3u'
			          data-description="1 Year Membership"
			          data-plan="dues"></script>
			<% end %>
			
			<% else %>
			
			<legend>Basic Info</legend>	
			<p>
			  <b>Email:</b>
			  <%= mail_to "#{@member.email}", @member.email %>
			</p>
			
			<p>
			  <b>Phone:</b>
			  <%= @member.phone %>
			</p>
			
			<p>
			  <b>Birthday:</b>
			  <%= @member.birthday.strftime("%b %-d, %Y") %>
			</p>
			
			<p>
			  <b>LinkedIn:</b>
			  <%= link_to "#{@member.linkedin}", "http://#{@member.linkedin}", :target => "_blank" %>
			</p>
			
			<p>
			  <b>Twitter:</b>
			  <%= link_to "#{@member.twitter}", "http://www.twitter.com/#{@member.twitter}", :target => "_blank" %>
			</p>
			
			<p>
			  <b>Website:</b>
			  <%= link_to "#{@member.website}", "http://#{@member.website}", :target => "_blank" %>
			</p>

			<legend>School Info</legend>
			<p>
			  <b>School:</b>
			  <%= @member.school+" c/o "+@member.grad_year.to_s %>
			</p>

			<p>
			  <b>Pledged:</b>
			  <%= @member.pledge_semester+" "+@member.pledge_year.to_s %>
			</p>
			
			<legend>Professional Info</legend>
			<p>
			  <b>Industry:</b>
			  <%= @member.industry %>
			</p>
			
			<p>
			  <b>Company:</b>
			  <%= @member.company %>
			</p>
			
			<p>
			  <b>Current Position:</b>
			  <%= @member.job_title %>
			</p>
			
			<% end %>
			
		</div>
	</div>
</div>